<!DOCTYPE html>
<html lang="ch" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="${#request.getContextPath()}+'/css/bootstrap.css'" />
    <link rel="stylesheet" th:href="${#request.getContextPath()}+'/css/index.css'" />
    <script type="text/javascript" th:src="${#request.getContextPath()}+'/js/jquery-3.3.1.js'"></script>
    <script type="text/javascript" th:src="${#request.getContextPath()}+'/js/bootstrap.js'"></script>
    <title></title>
    <style type="text/css">

    </style>
</head>
<script type="text/javascript" th:inline="text">
    /* 将token 存储在localStorage中 */
    localStorage.setItem("token", "[[${token}]]");

    function splitPage() {
        // console.log(path);
        let head = new Headers();
        head.append("token",localStorage.getItem("token"));
        console.log(head.get("token"));
        console.log("111");

        // window.location = "http://localhost:5180/prod/splitPage"
    }
</script>

<body>
<!--整体部分-->
<div id="all">
    <!--上部分-->
    <div id="top" th:inline="text">
        <div id="top1">
            <span>商品管理系统</span>
        </div>
        <div id="top2"></div>
        <div id="top3">
            <span>欢迎您，[[${admin.aName}]]</span>
        </div>
    </div>
    <!--下部分-->
    <div id="bottom">
        <!--下部分左边-->
        <div id="bleft">
            <div id="ltop">
                <div id="lts">
                    <img th:src="${#request.getContextPath()}+'/images/logo.jpg'"  alt="logo image"/><br />
                    <p style="text-align: center;">随机访客</p>
                </div>
            </div>
            <div id="lbottom">
                <ul>
                    <a th:href="${#request.getContextPath()}+'/prod/splitPage'" onclick="splitPage()"  target="myright" >
                    <!--<a href="" onclick="splitPage()" target="myright" >-->
                        <li class="two"><span class="glyphicon glyphicon-book" style="color: white;"></span>&nbsp;&nbsp;&nbsp;&nbsp;商品管理&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-play" style="color: white;"></span> </li>
                    </a>
                    <a th:href="${#request.getContextPath()}+'/admin/err.jsp'" target="myright">
                        <li class="one"><span class="glyphicon glyphicon-sort" style="color: white;"></span>&nbsp;&nbsp;&nbsp;&nbsp;订单管理&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-play" style="color: white;"></span> </li>
                    </a>
                    <a th:href="${#request.getContextPath()}+'/admin/err.jsp'" target="myright">
                        <li class="one"><span class="glyphicon glyphicon-user" style="color: white;"></span>&nbsp;&nbsp;&nbsp;&nbsp;用户管理&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-play" style="color: white;"></span> </li>
                    </a>
                    <a th:href="${#request.getContextPath()}+'/admin/err.jsp'" target="myright">
                        <li class="one"><span class="glyphicon glyphicon-bullhorn" style="color: white"></span>&nbsp;&nbsp;&nbsp;&nbsp;通知公告&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-play" style="color: white;"></span> </li>
                    </a>
                </ul>
            </div>
        </div>
        <!--下部分右边-->
        <div id="bright">
            <iframe frameborder="0" scrolling="no" name="myright" width="1235px" height="700px" ></iframe>
        </div>
    </div>
</div>
</body>
</html>